{{#if snooze}}
    <span class="next-alarm"><i class="fa fa-bell-o"></i>{{snooze}}</span><i {{action 'cancelSnooze' on="touchStart"}} class="fa fa-close"></i>
{{else}}
    {{#if nextAlarm}}
        <span class="next-alarm"><i class="fa fa-bell-o"></i>{{nextAlarm}}</span>
    {{/if}}
{{/if}}
<h1>{{{time.time}}}</h1>
<h2>{{time.date}}</h2>
